<div class="add-work-log">
    <div class="add-log-type margin-top-1">
        <div class="div-select">
            @if (isEditor) {
                <mat-form-field class="log-type-select">
                    <mat-select [formControl]="logTypeControl">
                        <mat-option></mat-option>
                        @for (logType of logTypeOptionArr; track logType.name) {
                            <mat-option [value]="logType.value">{{ logType.name }}</mat-option>
                        }
                    </mat-select>
                    @if (logTypeControl.hasError("required")) {
                        <mat-error>You must make a selection</mat-error>
                    }
                </mat-form-field>
            } @else {
                <mat-chip class="work-log-type">{{ getLogTypeName(logTypeControl.value) }}</mat-chip>
            }
        </div>
        <div class="div-button">
            <button class="preview-button"
                    matButton="outlined"
                    (click)="modifyEditorStatus()">
                {{ isEditor ? _CompInfo.BTN_PREVIEW.text : _CompInfo.BTN_BACK.text }}
            </button>
        </div>
        <div class="div-button">
            <button class="submit-button" matButton="outlined">
                {{ _CompInfo.BTN_SUBMIT.text }}
            </button>
        </div>
    </div>
    <div class="add-log-title">
        @if (isEditor) {
            <mat-form-field class="log-title-input">
                <mat-label>Title</mat-label>
                <input type="text"
                       matInput
                       [formControl]="logTitleControl">
                @if (logTitleControl.hasError("required")) {
                    <mat-error>You must make a selection</mat-error>
                }
            </mat-form-field>
        } @else {
            <h3 class="log-title-h1">
                {{logTitleControl.value}}
            </h3>
        }
    </div>
    <div class="add-log-content">
        @if (isEditor) {
            <quill-editor class="markdown-editor"
                          [(ngModel)]="editorContent"
                          [modules]="quillModules">
            </quill-editor>
        } @else {
            <quill-view-html class="markdown-view"
                             [content]="editorContent"
                             theme="snow">
            </quill-view-html>
        }
    </div>
</div>
