<div class="log-item-header">
  <div class="log-item-type">
    <app-ltl-log-type [type]="logType"/>
  </div>

  <div class="log-item-name">
    <span>{{"log-item-name"}}</span>
  </div>

  <div class="log-item-user">
    <span class="username">{{"龙腾麟·龙腾麟"}}</span>
  </div>

  <div class="log-item-datetime">
    <span class="datetime">{{"2025-05-19 14:16:21"}}</span>
  </div>

  <div class="log-item-down" (click)="isExpandEvent()">
    <mat-icon *ngIf="!isExpanded">expand_more</mat-icon>
    <mat-icon *ngIf="isExpanded">expand_less</mat-icon>
  </div>
</div>
