<!--&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * * The content below * * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * is only a placeholder * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * and can be replaced.  * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * Delete the template below * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * to get started with your project! * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * &ndash;&gt;-->

<main class="main">
  <div class="ltl-left-menu">
    <app-ltl-left-navigator/>
  </div>
  <div class="ltl-body">
    <div class="ltl-body-header">

    </div>
    <div class="ltl-body-container">
      <mat-card appearance="raised" class="ltl-body-card">
        <router-outlet/>
      </mat-card>
    </div>
  </div>
  <div class="ltl-right-menu">

  </div>
</main>
<!--<div>123</div>-->
<!--&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * * The content above * * * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * is only a placeholder * * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * and can be replaced.  * * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * &ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * &ndash;&gt;-->


<!--<router-outlet />-->
