.work-log-item {
  min-height: 50px;
  padding: 0 20px;
}

.work-log-header {
  .ltl-body-card {
    border-radius: 0;
  }
}

.work-log-content {
  height: 400px;
  .log-body-card {
    height: 100%;
    border-radius: 0;
  }
}


